*{
    font-family: "Inter", sans-serif;
    margin: 0px;
}
.titulo{
    padding-top: 150px;
    padding-left: 45px;
    background-color: #303030;
    padding-bottom: 150px;
    color: #FFFFFF;
}

#arquitetura{
    font-size: 64px ;
}

#paragrafo{
    font-size: 20px;
    margin-top: 10px;
}
.container{
    color: #000000;

}
.statscontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    margin: 40px;
    background-color: #f9f9f9;
    font-weight: 400px;
    font-size: 20px;
}
#arquiteto{
    font-weight: 700px;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 30px;
}
#textoprincipal{
    font-size: 20px;
    line-height: 1.8;
}

.projeto{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 120px 60px;
}

.projeto img {
    width: 25%;
    border-radius: 30px;
    margin-right: 50px;
}
.texto{
    width: 55%;
    margin-left: 130px;
}

.contato{
    background: #2f2f2f;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.contato-container{
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.contato h2{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}

.contato form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 110px;
}

.contato input{
    padding: 18px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    width: 70%;
}

.contato button{
    margin-top: 20px;
    background: #C07212;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 220px;
    align-self: center;
    margin-right: 90px;
}

.contato button:hover{
    background: #c48741;
    transform: scale(1.05);
}

.botao{
    transition: all 0.3s ease;
}
